.new-address-btn {
    background-color: grey;
}
.new-address-btn-hide {
    display: none;
}
.address-input {
    width: 20pc;
}
.search-input {
    width: 40pc;
}
.results-table {
    margin-left: auto;
    margin-right: auto;
    border: 1;
}